In [2]:
###basic syntax of python
#three different ways to declare a variable
name = 'madhur'
Name = 'madhur'
name = "madhur"

print("madhur")
print(name)
print(Name)

madhur
madhur
madhur

In [9]:
##Indentation
##Python uses indentation to define the scope of the block of code.

age=20

if(age>=18):
    print("eligible to vote")
else:
    print("not eligible to vote")\
    
age = 32
print(age)

eligible to vote
32

In [5]:

#This is a single line comment

###Multi line comment
'''
This is a multi line comment

'''

'\nThis is a multi line comment\n\n'

In [6]:
#Line continuationq
#Use backslash to continue a line
sum = 2+32+23\
+45

print(sum)

102

In [7]:
#Multiple statements in a single line
x=10;y=40; z=x+y
print(z)

50

In [13]:
#understanding variable assignment
#at run time, python automatically assigns the type to the variable
age =32;   #integer   
name = "madhur"

print(age)
print(name)

32
madhur

int

In [14]:
#Type inference
#python automatically infers the type of the variable at runtime allowing for dynamic typing
type(age)

int

In [15]:
type(name)

str

In [20]:
##Type inference, we can change the type of the variable at run time
variable =10;
print(variable, type(variable))

variable = "madhur"
print(variable,type(variable))

10 <class 'int'>
madhur <class 'str'>

In [21]:
#Indentation error example
if(age>=18):
print("eligible to vote")

IndentationError: expected an indented block after 'if' statement on line 2 (873043791.py, line 3)

In [22]:
#Code example of indentataion
if True:
    print("inside first if block");
    if False:
        print("inside second if block");
    print("outside second if block");
print("outside first if block");

inside first if block
outside second if block
outside first if block