In [1]:
#Integer example
age = 34;
type(age)

int

In [13]:
#FLOATING DATA TYPE
height = 44.56;
print(height, type(height))

44.56 <class 'float'>

In [4]:
#Boolean datatype
isTrue = True
type(isTrue)

bool

In [5]:
#String datatype
name = "MADHUR";
type(name)

str

In [7]:
a=10;
b=10;

print(a==b)

True

In [8]:
#common errors
result = "hello" + 34
print(result)

TypeError: can only concatenate str (not "int") to str

In [11]:
result = "hello" + str(34)   #type casting example
print(result)

hello34

In [ ]:
#basic datatypes - int, float, string, boolean