In [3]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\madhu\appdata\local\programs\python\python312\lib\site-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\madhu\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from pyspark.sql import SparkSession

In [5]:
#Creating a spark session

spark = SparkSession.builder.appName('Basics').getOrCreate()

In [6]:
df = spark.read.json("people.json")

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.columns

['age', 'name']

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField, StringType,
                                IntegerType,StructType)

In [12]:
data_schema =[StructField("age",IntegerType(),True), 
              StructField("name",StringType(),True)]

In [13]:
final_schema = StructType(fields=data_schema)

In [14]:
df= spark.read.json("people.json",schema=final_schema)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
type(df['age'])

pyspark.sql.column.Column

In [20]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [24]:
type(df.select('name'))  #return type is a dataFrame

pyspark.sql.dataframe.DataFrame

In [28]:
df.head(2)[1]

Row(age=30, name='Andy')

In [29]:
type(df.head(2)[1])

pyspark.sql.types.Row

In [32]:
df.select(["age","name"]).show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df.withColumn("newAge", df["age"]*2).show()

+----+-------+------+
| age|   name|newAge|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [37]:
df.withColumnRenamed("age","new_age").show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   NULL|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [40]:
df.createOrReplaceTempView("people")

In [42]:
results = spark.sql("select * from people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
new_results= spark.sql("select * from people where age >10")
new_results.show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+