In [2]:
myList = [1,2,3,4,5]
print(myList)
type(myList)

[1, 2, 3, 4, 5]

list

In [4]:
myList = [22,33,True, False, "Hello"]
print(myList)
print(len(myList))

[22, 33, True, False, 'Hello']
5

In [9]:
myList = ["MADHUR", "ASHU","ISHANT","NAMAN"]
print(myList)

print(myList[0])
print(myList[0:2])
print("--------")

for i in myList:
    print(i)

['MADHUR', 'ASHU', 'ISHANT', 'NAMAN']
MADHUR
['MADHUR', 'ASHU']
--------
MADHUR
ASHU
ISHANT
NAMAN

In [15]:
myList + ['mudit ']

['MADHUR', 'ASHU', 'ISHANT', 'NAMAN', 'Malhar', 'Malhar', 'mudit ']

In [16]:
myList.append("Malhar")
print(myList)

['MADHUR', 'ASHU', 'ISHANT', 'NAMAN', 'Malhar', 'Malhar', 'Malhar']

In [17]:
myList.pop(0)

'MADHUR'

In [21]:
anotherList = myList.reverse()
print(anotherList)

print(myList.sort())

None
None

In [24]:
myList.sort()
print(myList)

['ASHU', 'ISHANT', 'Malhar', 'Malhar', 'Malhar', 'NAMAN']

In [25]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [26]:
matrix[0]

[1, 2, 3]

In [28]:
firstCol = [myList for i in range(1)]

firstCol

[['ASHU', 'ISHANT', 'Malhar', 'Malhar', 'Malhar', 'NAMAN']]

In [33]:
myDic = {1: "madhur", 2: "hello"}
type(myDic.keys())

dict_keys

In [34]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

my_dict.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2'])])

In [37]:
my_dict ["key3"][0]

'item0'

In [38]:
d = {}

In [42]:
d = {'key1': {"nestedKey": {"nestednestedKey": "nestedNestedValue"}}}

d["key1"]["nestedKey"]["nestednestedKey"].islower

In [44]:
d.keys()

dict_keys(['key1'])

In [45]:
d.values()

dict_values([{'nestedKey': {'nestednestedKey': 'nestedNestedValue'}}])

In [46]:
d.items()

dict_items([('key1', {'nestedKey': {'nestednestedKey': 'nestedNestedValue'}})])

In [47]:
##Tuples
tup = (2,3,4,2,1,4,2,3,4)
len(tup)

9

In [48]:
t = ("one",1,3)
len(t)

3

In [49]:
t[-1]

3

In [54]:
t[0] = "two"

t.append("three")

TypeError: 'tuple' object does not support item assignment

In [58]:
#Sets and Booleans
a = set()

a.add(1)
a.add(1)
a

{1}